/*Styles for Active Items in sliders / styles pictures in ALL sliders with media@ / */

/*Styles for Active Items in sliders */
.selectedItemNavySalt {
  padding: 0;
  padding-top: 8px;
  width: 52px;
  height: 52px;
  border: 1px white;
  border-radius: 50%;
  font-size: 20pt;
  box-shadow: 0 0 22px black;
  color: black;
  text-align: center;
}

.selectedItemVoyager {
  padding: 0;
  padding-top: 8px;
  width: 52px;
  height: 52px;
  border: 1px white;
  border-radius: 50%;
  font-size: 20pt;
  box-shadow: 0 0 22px black;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.selectedItemDrifter {
  padding: 0;
  padding-top: 8px;
  width: 52px;
  height: 52px;
  border: 1px white;
  border-radius: 50%;
  font-size: 20pt;
  box-shadow: 0 0 22px black;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.selectedItemModal {
  padding: 0;
  padding-top: 8px;
  width: 52px;
  height: 52px;
  border: 1px white;
  border-radius: 50%;
  font-size: 20pt;
  box-shadow: 0 0 22px black;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.activeBut {
  color: black;
}


/* styles pictures in ALL sliders with media@ / */
.item {
  text-align: center;
  padding-top: 78px;
  &-background {
    display: inline-block;
    width: 140px;
    background: #fbf7f2;
  }
  &:after {
    display: inline-block;
    width: 100%;
    content: "";
    font-size: 0;
  }
  &:before {
    display: inline-block;
    height: 100%;
    content: "";
    font-size: 0;
  }
}

.photo {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  &-bgCentre {
    position: absolute;
    width: 410px;
    height: 160px;
    right: 0;
    background: url("/img/price.png") no-repeat;
    background-position: top right;
    display: none;
    text-align: left;
    &-price {
      .textMod(@fzTitle);
      .titleMod();
      margin-top: 31px;
      margin-left: 31px;
      margin-bottom: 31px;
    }
    &-link {
      display: inline-block;
      margin-left: 30%;
      .textMod(12pt, #878787);
      font-weight: bold;
      text-transform: uppercase;
      &-glyphLeft {
        visibility: hidden;
      }
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.slick-center img {
  height: 230px;
  width: auto;
  z-index: 2;
}

.slick-center .item-background {
  height: 230px;
  width: 240px;
}
.slick-center .photo-bgCentre {
  display: block;
}
.item + .slick-center {
  padding-top: 0;
}

.slick {
  &-dots {
    visibility: hidden;
  }
  &-next {
    right: 0;
    visibility: hidden;
  }
  &-prev {
    left: 0;
    visibility: hidden;
  }
  &-active {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 560px) {
  .photo {
    &-bgCentre {
      text-align: right;
      &-price {
        margin-left: 15%;
        text-align: right;
        margin-bottom: 0;
        .titleMod(0em);
        position: absolute;
        right: 20%;
        top: 50px;
        margin-top: 0;
      }
      &-link {
        text-align: right;
        position: absolute;
        right: -15%;
        margin-left: 0;
        top: 60px;
        &-glyphRight {
          visibility: hidden;
        }
        &-glyphLeft {
          visibility: visible;
        }
      }
    }
  }
  .slick-dots {
    visibility: visible;
  }
}