@height_footer: 147px;   //height footer
@hLogo: 101px;            //height Logo
@wLogo: 145px;            //width LOGO
@fzMenu: 7.5pt;           //font size Menu
@fzDesc: 10.25pt;         //font size descriptions text
@fzTitle: 24,25pt;        //font size Titles and Headers
@fzTitleSmall: 18pt;      //font size small Titles and Headers
@hHeader: 115px;          //height Header Block
@hNavySalt: 376px;        //height navy Salt Sections on full screen
@hBgImg: 477px;           //height navy Salt background-SLIDER on full screen
@fzTenColSubHed: 13pt;     //font size sub Header in Section Tenner Collections

@hSection: 1068px;        //height basic Sections on full screen
@hTitleSec: 265px;        //height Titles n Sections
@wTitleSec: 90%;          //width Titles Sections on full screen
