<div class="buyWrapper">
    <div class="buy container">
        <div class="buy-content row">
            <div class="closeWindow">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
            <div class="buy-content-slider col-md-7 col-sm-12 col-xs-12">
                <div class="buy-content-slider-single" >
                    <div class="buy-content-slider-single-item">
                        <div class="buy-content-slider-single-item-photo">
                            <img src="img/buy_1-slider.jpg" alt="" class="buy-content-slider-single-item-photo-pic">
                        </div>
                    </div>
                    <div class="buy-content-slider-single-item">
                        <div class="buy-content-slider-single-item-photo">
                            <img src="img/buy_2-slider.jpg" alt="" class="buy-content-slider-single-item-photo-pic">
                        </div>
                    </div>
                    <div class="buy-content-slider-single-item">
                        <div class="buy-content-slider-single-item-photo">
                            <img src="img/buy_3-slider.jpg" alt="" class="buy-content-slider-single-item-photo-pic">
                        </div>
                    </div>
                    <div class="buy-content-slider-single-item">
                        <div class="buy-content-slider-single-item-photo">
                            <img src="img/buy_4-slider.jpg" alt="" class="buy-content-slider-single-item-photo-pic">
                        </div>
                    </div>
                    <div class="buy-content-slider-single-item">
                        <div class="buy-content-slider-single-item-photo">
                            <img src="img/buy_5-slider.jpg" alt="" class="buy-content-slider-single-item-photo-pic">
                        </div>
                    </div>
                </div>

                <div class="buy-content-slider-nav">
                    <ul class="buy-content-slider-nav-list">
                        <li class="buy-content-slider-nav-list-item buy-content-slider-nav-list-item-icon previousBut"><span class="glyphicon glyphicon-menu-left"></span></li>
                        <li class="buy-content-slider-nav-list-item" id="buy-content_1">01</li>
                        <li class="buy-content-slider-nav-list-item" id="buy-content_2">02</li>
                        <li class="buy-content-slider-nav-list-item  selectedItemModal" id="buy-content_3">03</li>
                        <li class="buy-content-slider-nav-list-item" id="buy-content_4">04</li>
                        <li class="buy-content-slider-nav-list-item" id="buy-content_5">05</li>
                        <li class="buy-content-slider-nav-list-item buy-content-slider-nav-list-item-icon nextBut"><span class="glyphicon glyphicon-menu-right" ></span></li>
                    </ul>
                </div>
            </div>
            <div class="buy-content-info col-md-5 col-sm-12 col-xs-12">

                    <div class="buy-content-info-subTitles">
                        <h5 class="buy-content-info-subTitle_1">Tanner Goods</h5>
                        <h5 class="buy-content-info-subTitle_2">NAVY SALT & PEPPER</h5>
                    </div>
                    <p class="buy-content-info-price">$475.00</p>
                    <h2 class="buy-content-info-title">VOYAGER DAYPACK</h2>
                    <div class="buy-content-info-options">
                        <h6 class="buy-content-info-options-desc isActiveOpt" id="descBut">DESCRIPTION</h6>
                        <h6 class="buy-content-info-options-details" id="detBut">DETAILS</h6>
                        <h6 class="buy-content-info-options-ship" id="shipBut">SHIPPING DETAILS</h6>
                    </div>
                    <div class="buy-content-info-containerInfo">
                        <p class="buy-content-info-containerInfo-desc isActiveCont" id="descCont">Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes, this silhouette is versatile enough to fit just about anyone’s daily routine.</p>
                        <p class="buy-content-info-containerInfo-details" id="detCont">detCont</p>
                        <p class="buy-content-info-containerInfo-ship" id="shipCont">shipCont</p>
                    </div>
                    <button class="buy-content-info-bigButton" type="button">Buy</button>
                    <div class="buy-content-info-quality">
                        <span class="glyphicon glyphicon-minus buy-content-info-quality-min"></span>
                        <span class="buy-content-info-quality-number">1</span>
                        <span class="glyphicon glyphicon-plus buy-content-info-quality-plus"></span>
                        <p class="buy-content-info-quality-desc">quality</p>
                    </div>
                    <p class="buy-content-info-cont">Questions about our products? Give us a call   <span class="buy-content-info-cont-phone">1-503-862-3224</span></p>

            </div>
        </div>
    </div>
</div>