<div class="drifter" id="drifter">
    <div class="drifter-container">
        <div class="drifter-container-title">
            <div class="drifter-container-title-desc">
                <p class="drifter-container-title-desc-cont">
                    Field-tested from the peaks of the Cascades down
                    to the desert floor of Joshua Tree, the Wilderness Rucksack was built to put on some serious miles
                    for years to come. A comfortable, dependable combination of 14oz Salt & Pepper canvas, premium wool felt, and Cambara English bridle leather.
                </p>
            </div>
            <div class="drifter-container-title-subHead">
                <h2 class="drifter-container-title-subHead-contHead">Drifter dopp kit</h2>
                <p class="drifter-container-title-subHead-subscr">Navy salt & pepper</p>
            </div>
        </div>
    </div>
    <div class="drifter-slider">
        <div class="center" >
            <div class="item">
                <div class="item-background">
                    <div class="photo">
                        <div class="photo-bgCentre">
                            <h2 class="photo-bgCentre-price">$456.70</h2>
                            <a href="" class="photo-bgCentre-link openModal">
                                <span class="glyphicon glyphicon-arrow-left photo-bgCentre-link-glyphLeft"></span> buy <span class="glyphicon glyphicon-arrow-right photo-bgCentre-link-glyphRight"></span>
                            </a>
                        </div>
                        <img src="img/drifter_1-slider.png" alt="" class="voyager-slider-pic">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-background">
                    <div class="photo">
                        <div class="photo-bgCentre">
                            <h2 class="photo-bgCentre-price">$456.70</h2>
                            <a href="" class="photo-bgCentre-link openModal">
                                <span class="glyphicon glyphicon-arrow-left photo-bgCentre-link-glyphLeft"></span> buy <span class="glyphicon glyphicon-arrow-right photo-bgCentre-link-glyphRight"></span>
                            </a>
                        </div>
                        <img src="img/drifter_2-slider.png" alt="" class="voyager-slider-pic">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-background">
                    <div class="photo">
                        <div class="photo-bgCentre">
                            <h2 class="photo-bgCentre-price">$456.70</h2>
                            <a href="" class="photo-bgCentre-link openModal">
                                <span class="glyphicon glyphicon-arrow-left photo-bgCentre-link-glyphLeft"></span> buy <span class="glyphicon glyphicon-arrow-right photo-bgCentre-link-glyphRight"></span>
                            </a>
                        </div>
                        <img src="img/drifter_3-slider.png" alt="" class="voyager-slider-pic">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-background">
                    <div class="photo">
                        <div class="photo-bgCentre">
                            <h2 class="photo-bgCentre-price">$456.70</h2>
                            <a href="" class="photo-bgCentre-link openModal">
                                <span class="glyphicon glyphicon-arrow-left photo-bgCentre-link-glyphLeft"></span> buy <span class="glyphicon glyphicon-arrow-right photo-bgCentre-link-glyphRight"></span>
                            </a>
                        </div>
                        <img src="img/drifter_4-slider.png" alt="" class="voyager-slider-pic">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-background">
                    <div class="photo">
                        <div class="photo-bgCentre">
                            <h2 class="photo-bgCentre-price">$456.70</h2>
                            <a href="" class="photo-bgCentre-link openModal">
                                <span class="glyphicon glyphicon-arrow-left photo-bgCentre-link-glyphLeft"></span> buy <span class="glyphicon glyphicon-arrow-right photo-bgCentre-link-glyphRight"></span>
                            </a>
                        </div>
                        <img src="img/drifter_5-slider.png" alt="" class="voyager-slider-pic">
                    </div>
                </div>
            </div>
        </div>
        <div class="drifter-slider-nav">
            <ul class="drifter-slider-nav-list">
                <li class="drifter-slider-nav-list-item drifter-slider-nav-list-item-icon previousBut"><span class="glyphicon glyphicon-menu-left"></span></li>
                <li class="drifter-slider-nav-list-item" id="drifter_1">01</li>
                <li class="drifter-slider-nav-list-item" id="drifter_2">02</li>
                <li class="drifter-slider-nav-list-item  selectedItemDrifter" id="drifter_3">03</li>
                <li class="drifter-slider-nav-list-item" id="drifter_4">04</li>
                <li class="drifter-slider-nav-list-item" id="drifter_5">05</li>
                <li class="drifter-slider-nav-list-item drifter-slider-nav-list-item-icon nextBut"><span class="glyphicon glyphicon-menu-right" ></span></li>
            </ul>
        </div>
    </div>
</div>