<div class="feedBack-title">
    <div class="feedBack-title-head">
        <h2 class="feedBack-title-head-cont">We need your opinion</h2>
    </div>
    <div class="feedBack-title-desc">
        <div class="feedBack-title-desc-block">
            <p class="feedBack-title-desc-block-cont">
                NAVY SALT & PEPPER
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
        <div class="col-xs-12 address blocks">
            <h2 class="address-title">Our address</h2>
            <p class="address-desc">
                <strong>Sebazzo Ltd, Unit 3F2</strong>
                Zetland House
                5-25 Scrutton Street
                London EC2A 4HJ
            </p>
        </div>
        <div class="col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.4386447902725!2d-0.08612578458649543!3d51.523513979637805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cafc64645e3%3A0x43cce721bd9ba9c!2zNS0yNSBTY3J1dHRvbiBTdCwgTG9uZG9uIEVDMkEgNEhKLCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3RltGP!5e0!3m2!1suk!2sua!4v1522608439548" width="500" height="450" frameborder="0" style="border:0" allowfullscreen class="googleFrame"></iframe>
        </div>
    </div>
        <div class="col-md-6 col-xs-12 blocks">
            <div class="row">
                <div class="col-xs-8">
                    <form id="feedBackForm" class="backForm">
                        <h3>Feedback form</h3>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="secondName">Second Name</label>
                            <input type="text" class="form-control" id="secondName" placeholder="Surname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="birthday">birthday</label>
                            <input type="date" class="form-control" id="birthday" placeholder="birthday">
                        </div>
                        <div class="form-group">
                            <label for="pswd">Password</label>
                            <input type="password" class="form-control" id="pswd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="offer">
                                Your offer
                            </label>
                            <textarea class="form-control" rows="2" id="offer"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> All data are correct
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    input.error {
        border: 1px solid #ff0000;
    }
    label.error {
        color: #ff0000;
        font-weight: normal;
    }
</style>