<div class="container">
    <div class="footerContent row">
        <div class="footerContent-leftBlock col-xs-12 col-md-7">
            <div class="footerContent-leftBlock-top row">
                <div class="footerContent-leftBlock-top-logo col-xs-3">
                    <img src="img/logoFooter.png" alt="" class="footerContent-leftBlock-top-logo-pic">
                </div>
                <div class="footerContent-leftBlock-top-appMenu col-xs-9">
                    <ul class="footerContent-leftBlock-top-appMenu-list">
                        <li class="footerContent-leftBlock-top-appMenu-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">FINDA</a>
                        </li>
                        <li class="footerContent-leftBlock-top-appMenu-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">STORE</a>
                        </li>
                        <li class="footerContent-leftBlock-top-appMenu-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">SIZING</a>
                        </li>
                        <li class="footerContent-leftBlock-top-appMenu-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">CARE</a>
                        </li>
                        <li class="footerContent-leftBlock-top-appMenu-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">WATCH</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerContent-leftBlock-bottom">
                <div class="footerContent-leftBlock-bottom-copyright">
                    <p class="footerContent-leftBlock-bottom-copyright-cont">
                        © tanner goods portland ore 2016
                    </p>
                </div>
                <div class="footerContent-leftBlock-bottom-social">
                    <ul class="footerContent-leftBlock-bottom-social-list">
                        <li class="footerContent-leftBlock-bottom-social-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">facebook</a>
                        </li>
                        <li class="footerContent-leftBlock-bottom-social-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">pinterest</a>
                        </li>
                        <li class="footerContent-leftBlock-bottom-social-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">twitter </a>
                        </li>
                        <li class="footerContent-leftBlock-bottom-social-list-item">
                            <a href="/priceliste.html" class="smallMenuItem">instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerContent-rightBlock col-xs-11 col-md-5" >
            <div class="footerContent-rightBlock-address">
                <p class="footerContent-rightBlock-address-cont">
                    <strong>Sebazzo Ltd, Unit 3F2</strong>
                    Zetland House
                    5-25 Scrutton Street
                    London EC2A 4HJ
                </p>
            </div>
            <div class="footerContent-rightBlock-newsletters">
                <div class="footerContent-rightBlock-newsletters-block">
                    <h5 class="footerContent-rightBlock-newsletters-title">Email Newsletters</h5>
                    <p class="footerContent-rightBlock-newsletters-desc">
                        Sign up for new TANNER GOODS content, updates, surveys & offers.
                    </p>
                    <input type="text" class="footerContent-rightBlock-newsletters-searchInput">
                    <button class="footerContent-rightBlock-newsletters-searchBut"> <span class="glyphicon glyphicon-menu-right"></span> </button>
                </div>
            </div>
        </div>
    </div>
</div>