<div class="headerBlock">
    <div class="headerBlock-top">
        <div class="headerBlock-logo">
            <img src="img/logo.png" alt="" class="headerBlock-logo-pic">
        </div>
        <div class="headerBlock-menu">
            <div class="headerBlock-menu-menuToggle"><strong>|||</strong></div>
            <ul class="headerBlock-menu-list">
                <li class="headerBlock-menu-list-item">
                    <a href="http://localhost:3000/#navysalt" class="headerBlock-menu-list-item-link">NAVY SALT</a>
                </li>
                <li class="headerBlock-menu-list-item">
                    <a href="http://localhost:3000/#voyager" class="headerBlock-menu-list-item-link">VOYAGER</a>
                </li>
                <li class="headerBlock-menu-list-item">
                    <a href="http://localhost:3000/#drifter" class="headerBlock-menu-list-item-link headerBlock-menu-list-item-link--whiteColor">DRIFTER</a>
                </li>
                <li class="headerBlock-menu-list-item">
                    <a href="http://localhost:3000/#collection" class="headerBlock-menu-list-item-link headerBlock-menu-list-item-link--whiteColor">COLLECTION</a>
                </li>
                <li class="headerBlock-menu-list-item">
                    <a href="/contact-form.html" class="headerBlock-menu-list-item-link headerBlock-menu-list-item-link--whiteColor">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>