<div class="navySalt" id="navysalt">
    <div class="navySalt-slider">
        <div class="single" >
            <div class="single-item">
                <div class="single-item-photo">
                    <img src="img/navySalt_1-slider.jpg" alt="" class="single-item-photo-pic">
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-photo">
                    <img src="img/navySalt_2-slider.jpg" alt="" class="single-item-photo-pic">
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-photo">
                    <img src="img/navySalt_3-slider.jpg" alt="" class="single-item-photo-pic">
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-photo">
                    <img src="img/navySalt_4-slider.jpg" alt="" class="single-item-photo-pic">
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-photo">
                    <img src="img/navySalt_5-slider.jpg" alt="" class="single-item-photo-pic">
                </div>
            </div>
        </div>
        <div class="navySalt-slider-nav">
            <ul class="navySalt-slider-nav-list">
                <li class="navySalt-slider-nav-list-item navySalt-slider-nav-list-item-icon previousBut"> <span class="glyphicon glyphicon-menu-up"></span> </li>
                <li class="navySalt-slider-nav-list-item selectedItemNavySalt" id="navySalt_1">01</li>
                <li class="navySalt-slider-nav-list-item" id="navySalt_2">02</li>
                <li class="navySalt-slider-nav-list-item" id="navySalt_3">03</li>
                <li class="navySalt-slider-nav-list-item" id="navySalt_4">04</li>
                <li class="navySalt-slider-nav-list-item" id="navySalt_5">05</li>
                <li class="navySalt-slider-nav-list-item navySalt-slider-nav-list-item-icon nextBut"> <span class="glyphicon glyphicon-menu-down"></span></li>
            </ul>
        </div>
    </div>
    <div class="navySalt-head">
        <p class="navySalt-head-desc">Designed for utility</p>
        <h1 class="navySalt-head-title">NAVY SALT & PEPPER</h1>
        <a href="/priceliste.html" class="navySalt-head-button">Gear <strong>UP</strong> <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</div>