<div class="priceList">
    <div class="priceList-title">
        <div class="priceList-title-head">
            <h2 class="priceList-title-head-cont">All Type Bags</h2>
        </div>
        <div class="priceList-title-desc">
            <div class="priceList-title-desc-block">
                <p class="priceList-title-desc-block-cont">
                    NAVY SALT & PEPPER
                </p>
            </div>
        </div>
    </div>
    <div class="priceList-bags">
        <table id="priceListTable" class="display table-responsive" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
                <th>Numbers</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
                <th>Numbers</th>
                <th>Price</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>