<div class="tannerCollection" id="collection">
    <div class="tannerCollection-title">
        <div class="tannerCollection-title-head">
            <h2 class="tannerCollection-title-head-cont">Tanner Collection</h2>
        </div>
        <div class="tannerCollection-title-desc">
            <div class="tannerCollection-title-desc-block">
                <p class="tannerCollection-title-desc-block-cont">
                    NAVY SALT & PEPPER
                </p>
            </div>
        </div>
    </div>
    <div class="tannerCollection-content">
        <div class="tannerCollection-content-block_1">
            <div class="tannerCollection-content-block_1-top">
                <img src="img/all_type_scr_1.jpg" alt="" class="tannerCollection-content-block_1-top-pic">
            </div>
            <div class="tannerCollection-content-block_1-bottom">
                <div class="tannerCollection-content-block_1-bottom-desc">
                    <h5 class="tannerCollection-content-block_1-bottom-desc-title">
                        SPRUCE SALT & PEPPER
                    </h5>
                    <p class="tannerCollection-content-block_1-bottom-desc-text">
                        We designed our Nomad Duffle as a versatile yet rugged piece of luggage that's just as comfortable outdoors as it is in an overhead compartment
                        <a class="tannerCollection-content-block_1-bottom-desc-but openModal">
                            read more >
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tannerCollection-content-block_2">
            <div class="tannerCollection-content-block_2-bottom">
                <div class="tannerCollection-content-block_2-bottom-desc">
                    <h5 class="tannerCollection-content-block_2-bottom-desc-title">
                        NOMAD DUFFLE
                    </h5>
                    <p class="tannerCollection-content-block_2-bottom-desc-text">
                        This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs
                    </p>
                    <a class="tannerCollection-content-block_2-bottom-desc-but openModal">
                        read more >
                    </a>
                </div>
            </div>
            <div class="tannerCollection-content-block_2-top">
                <img src="img/all_type_scr_2.jpg" alt="" class="tannerCollection-content-block_2-top-pic">
            </div>
        </div>
        <div class="tannerCollection-content-block_3">
            <div class="tannerCollection-content-block_3-top">
                <img src="img/all_type_scr_3.jpg" alt="" class="tannerCollection-content-block_3-top-pic">
            </div>
            <div class="tannerCollection-content-block_3-bottom">
                <div class="tannerCollection-content-block_3-bottom-desc">
                    <h5 class="tannerCollection-content-block_3-bottom-desc-title">
                        VOYAGER  DAYPACK
                    </h5>
                </div>
            </div>
        </div>
        <div class="tannerCollection-content-block_4">
            <div class="tannerCollection-content-block_4-bottom">
                <div class="tannerCollection-content-block_4-bottom-desc">
                    <h5 class="tannerCollection-content-block_4-bottom-desc-title">
                        FIELD CAMERA BAG
                    </h5>
                    <p class="tannerCollection-content-block_4-bottom-desc-text">
                        Our field camera bag is constructed from 14oz Salt & Pepper canvas and Cambara Meridian English bridle leather. We've put these bags through the ringer in testing and we think you'll approve of the result. Our Camera Bag is fully lined and padded, and features an adjustable shoulder strap and pad, as well as two interior flap pockets for smaller gear and film.
                    </p>
                    <a class="tannerCollection-content-block_4-bottom-desc-but openModal">
                        read more >
                    </a>
                </div>
            </div>
            <div class="tannerCollection-content-block_4-top">
                <img src="img/all_type_scr_4.jpg" alt="" class="tannerCollection-content-block_4-top-pic">
            </div>
        </div>
    </div>
    <div class="tannerCollection-price">
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_1.jpg" alt="Lady" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_2.jpg" alt="Gentleman" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_3.jpg" alt="Drifter" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_4.jpg" alt="Voyager" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_5.jpg" alt="Oxford" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="tannerCollection-price-item">
            <img src="img/change_pack_6.jpg" alt="Junper" class="tannerCollection-price-item-pic">
            <div class="tannerCollection-price-item-hoverBl openModal"><span class="glyphicon glyphicon-ok"></span></div>
        </div>
    </div>
</div>